*{
    width: 500px;
    height: 500px;
    margin: 0 auto;
}

body{
    background-color: #DAF7A6;
}

h1{
    text-align: center;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.tablero{
    background-color: #D4EFFF;
    border: 3px solid#000000;
    border-radius: 2%;
    width: 970px;
    height: 600px;
    float: left;
    position: relative;
    margin-left: -25%;
    margin-top: -85%;

}


    /* TEXTOS */
#inicio{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 75px;
    font-size: 30px;
}

#textoOca{
    font-size: 150px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    left: 130px;
    top: 150px;
}

#final{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 70px;
    font-size: 25px;
    margin-top: 160px;
}

    /* CASILLAS */
#casilla1{
    background-color: #CACFD2;
    border: 3px solid#000000;
    border-radius: 5%;
    width: 200px;
    height: 100px;
    float: left;
    margin-left: 5px;
    margin-top: 485px;
}
#casilla2{
    background-color: #d1fde2;
    border: 3px solid#000000;
    border-radius: 5%;
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 2px;
    margin-top: 485px;
}
#casilla3{
    background-color: #ff8fc7;
    border: 3px solid#000000;
    border-radius: 5%;
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 2px;
    margin-top: 485px;
}
#casilla4{
    background-color: rgb(170, 191, 247);
    border: 3px solid#000000;
    border-radius: 5%;
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 2px;
    margin-top: 485px;
}
#casilla5{
    background-color: #ffae00;
    border: 5px solid#000000;
    border-radius: 5%;
    width: 100px;
    height: 98px;
    float: left;
    margin-left: 1px;
    margin-top: 483px;
}
#casilla6{
    background-color: #B9FF8F;
    border: 3px solid#000000;
    border-radius: 5%;
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 2px;
    margin-top: 485px;
}
#casilla7{
    background-color: #FFCA8F;
    border: 3px solid#000000;
    border-radius: 5%;
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 2px;
    margin-top: 485px;
}
#casilla8{
    background-color: rgb(233, 201, 236);
    border: 3px solid#000000;
    border-radius: 5%;
    width: 98px;
    height: 100px;
    float: left;
    margin-left: 1.5px;
    margin-top: 485px;
}
#casilla9{
    background-color: #CC8FFF;
    border: 3px solid#000000;
    border-radius: 5%;
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 861px;
    margin-top: -214px;
}
#casilla10{
    background-color: #ff99db;
    border: 5px solid#000000;
    border-radius: 5%;
    width: 100px;
    height: 98px;
    float: left;
    margin-left: 858px;
    margin-top: -323px;
}
#casilla11{
    background-color: #C4E4FC;
    border: 3px solid#000000;
    border-radius: 5%;
    width: 100px;
    height: 125px;
    float: left;
    margin-left: 861px;
    margin-top: -455px;
}
#casilla12{
    background-color: #D1FF8F;
    border: 3px solid#000000;
    border-radius: 5%;
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 861px;
    margin-top: -565px;
}
#casilla13{
    background-color: #FFCEDB;
    border: 3px solid#000000;
    border-radius: 5%;
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 752px;
    margin-top: -565px;
}
#casilla14{
    background-color: #6952a8;
    border: 5px solid#000000;
    border-radius: 5%;
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 640px;
    margin-top: -567px;
}
#casilla15{
    background-color: #FFFD8F;
    border: 3px solid#000000;
    border-radius: 5%;
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 532px;
    margin-top: -565px;
}
#casilla16{
    background-color: #fecdcd;
    border: 3px solid#000000;
    border-radius: 5%;
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 423px;
    margin-top: -565px;
}
#casilla17{
    background-color: rgb(154, 143, 255);
    border: 3px solid#000000;
    border-radius: 5%;
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 313px;
    margin-top: -565px;
}
#casilla18{
    background-color: rgb(135, 211, 201);
    border: 5px solid#000000;
    border-radius: 5%;
    width: 110px;
    height: 100px;
    float: left;
    margin-left: 192px;
    margin-top: -567px;
}
#casilla19{
    background-color: rgb(251, 255, 198);
    border: 3px solid#000000;
    border-radius: 5%;
    width: 180px;
    height: 100px;
    float: left;
    margin-left: 5px;
    margin-top: -565px;
}
#casilla20{
    background-color: #b0c8ec;
    border: 3px solid#000000;
    border-radius: 5%;
    width: 100px;
    height: 125px;
    float: left;
    margin-left: 5px;
    margin-top: -455px;
}
#casilla21{
    background-color: #F7B4DD;
    border: 3px solid#000000;
    border-radius: 5%;
    width: 100px;
    height: 150px;
    float: left;
    margin-left: 5px;
    margin-top: -322px;
}
#casilla22{
    background-color: #da84da;
    border: 5px solid#000000;
    border-radius: 5%;
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 115px;
    margin-top: -274px;
}
#casilla23{
    background-color: #ffe18f;
    border: 3px solid#000000;
    border-radius: 5%;
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 230px;
    margin-top: -271px;
}
#casilla24{
    background-color: rgb(200, 250, 202);
    border: 3px solid#000000;
    border-radius: 5%;
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 340px;
    margin-top: -271px;
}
#casilla25{
    background-color: #EFE1FF;
    border: 3px solid#000000;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    float: left;
    margin-left: 460px;
    margin-top: -331px;
}


#btn-Azul{
    background-color: #5198FF !important;
    border: 3px solid#000000;
    border-radius: 5%;
    width: 100px;
    height: 100px;
    float: left;
    margin-left: -375px;
    margin-top: -899px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

    /* BOTONES */
#btn-Roja{
    background-color: #FF5151;
    border: 3px solid#000000;
    border-radius: 5%;
    width: 100px;
    height: 100px;
    float: left;
    margin-left: -250px;
    margin-top: -1399px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#btn-Tirar{
    background-color: #FF88FA;
    border: 3px solid#000000;
    border-radius: 5%;
    width: 120px;
    height: 40px;
    float: left;
    margin-left: -330px;
    margin-top: -1760px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

    /* IMAGENES */
#img1{                  /*GANSO COMPLETO*/
    width: 200px;
    height: 200px;
    float: left;
    margin-left: 200px;
    margin-top: -640px;
}

#img2{                  /*CABEZA GANSO*/
    width: 201px;
    height: 201px;
    float: left;
    margin-left: 0px;
    margin-top: -660px;
} 

#img3{                   /*DADO*/
    width: 200px;
    height: 200px;
    float: left;
    margin-left: -370px;
    margin-top: -1655px;
    border: #7DDEF1 solid 5px;
    border-radius: 20%;
}

#img4{                   /*FICHA1*/
    width: 40px;
    height: 40px;
    position: absolute;
    left: 25px; /* +200 */  /* +110 */ 
    bottom: 15px; /* +110 */ 
    z-index: 10;
}

#img5{                  /*FICHA2*/
    width: 40px;
    height: 40px;
    position: absolute;
    left: 125px;  /* +140 */
    bottom: 15px;
    z-index: 10;
}

    /* ANIMACIONES */

@-webkit-keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 var(--hover);
    }
  }
  
@keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 var(--hover);
    }
  }
 
.tablero:hover{
    -webkit-transition: 2.00s;
    -o-transition: 2.00s;
    -moz-transition: 2.00s;
    transition: 2.00s;
}  

#casilla1,#casilla2,#casilla3,#casilla4,#casilla5,#casilla6,#casilla7,#casilla8,#casilla9,#casilla10,#casilla11,#casilla12,#casilla13,#casilla14,#casilla16,#casilla17,#casilla18,#casilla19,#casilla20,#casilla21,#casilla22,#casilla23,#casilla24,#casilla25:hover{
    -webkit-transition: 0.70s;
    -o-transition: 0.70s;
    -moz-transition: 0.70s;
    transition: 0.70s;
}

#btn-Azul {
    color: var(--color);
    -webkit-transition: 2.00s;
    -o-transition: 2.00s;
    -moz-transition: 2.00s;
    transition: 2.00s;
  }
#btn-Azul:hover, #btn-Azul:focus {
    border-color: var(--hover);
    color: #fff;
  }
  
#btn-Azul:hover {
      background: #318aac;
      color: #fff !important;
  }
  
#btn-Roja {
      color: var(--color);
      -webkit-transition: 2.00s;
      -o-transition: 2.00s;
      -moz-transition: 2.00s;
      transition: 2.00s;
  }
  
#btn-Roja:hover, #btn-Roja:focus {
      border-color: var(--hover);
      color: #fff;
  }
  
#btn-Tirar {
      color: var(--color);
      -webkit-transition: 2.00s;
      -o-transition: 2.00s;
      -moz-transition: 2.00s;
      transition: 2.00s;
}
  
#btn-Tirar:hover, #btn-Tirar:focus {
      border-color: var(--hover);
      color: #fff;
}

#img3{
    -webkit-transition: 2.00s;
    transition: 2.00s;
}

/* Animacion para el movimiento de la imagen4 y la imagen5*/
#img4:after{
    transform: translate(350px,-350px);
    -webkit-transform: translate(350px,-350px); /** Chrome & Safari **/
    -o-transform: translate(350px,-350px); /** Opera **/
    -moz-transform: translate(350px,-350px); /** Firefox **/
}


#img4{       
position: absolute;
transition: all 2s ease-in-out;
-webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
-moz-transition: all 2s ease-in-out; /** Firefox **/
-o-transition: all 2s ease-in-out; /** Opera **/
}

#img5:after{
    transform: translate(350px,-350px);
    -webkit-transform: translate(350px,-350px); /** Chrome & Safari **/
    -o-transform: translate(350px,-350px); /** Opera **/
    -moz-transform: translate(350px,-350px); /** Firefox **/
}


#img5{       
position: absolute;
transition: all 2s ease-in-out;
-webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
-moz-transition: all 2s ease-in-out; /** Firefox **/
-o-transition: all 2s ease-in-out; /** Opera **/
}